# Database
DATABASE_URL="postgresql://user:password@localhost:5432/rekam_medis_db"

# RSA Keys (generate dengan: bun run generate:keys)
RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
RSA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
